.nav {
  display: flex;

  &__list {
    display: flex;
    margin-left: auto;
    margin-top: 1em;
    margin-right: 1.7em;
  }

  &__link {
    text-decoration: none;
    color: var(--clr-dark);
    margin-right: 20px;
    font-weight: var(--fw-bold);
  }

  &__link:hover {
    border-bottom: 2px solid var(--clr-dark);
  }

  &__mobile {
    display: none;
  }
}
