/* Part of the site where I showcase my skills */

.my-skills {
  background-image: url(https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80);
  background-blend-mode: multiply;
  background-color: var(--clr-dark);
  background-size: cover;
  text-align: center;
  color: var(--clr-light);
}

.skill {
  max-width: 600px;
  margin: 0 auto;

  &__title,
  &__content {
    text-align: left;
  }
}

@media (min-width: 600px) {
  .skill + .skill {
    margin-left: 2em;
  }

  .skills {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.skillsBtn {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
  display: inline-block;
  padding: 1rem 3rem;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
}

.skillsBtn:hover {
  transform: scale(1.1);
}
